# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Ignore heavy dataset audio binary files (keep directory structure via .gitkeep)
*.wav
*.mp3
*.flac
*.ogg

# PyTorch Checkpoints & Models
*.pt
*.pth
*.onnx

# Data & Logs
*.log
.DS_Store
